<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>S.O.S</title>
    <link rel="shortcut icon" href="./../sos.png" type="image/x-icon">
</head>
<body class="p-3 mb-2 bg-light text-dark" >

    <div class="container">
        
        <h2 id="totem" style="font-family: 'Nunito Sans', sans-serif;"><%= totem %></h2>
        <button id="btn_video" class=" ">Enviar Mensaje</button>
        
 
    </div>
    
    <script src="socket.io/socket.io.js"></script>
        <script>
        
        let btn = document.querySelector('#btn_video')
        let messageText = document.getElementById('text-message')
        let reqUrl = document.getElementById('totem')
        var socket = io();
        
        //cuando se conecta
        socket.on('connect', function(){
            console.log('Connected to the server :: myid=1>',socket.id)
            let regex = /(\d+)/g;
            idarrayTotem=(reqUrl.textContent.match(regex)[0])-1
            //envia el nombre del totem al servidor
            datos = {
                id:idarrayTotem,
                socket_id:socket.id,
                name:reqUrl.textContent,//pasar un alias
                stream:false,
                message:'se conecto al servidor'
            }
            console.log(datos)
            socket.emit('totem_register', datos)
        });
        //cuando se desconecta
        socket.on('disconnected', function(){
            console.log('Disconnected from the server ', socket.id)
           
        });

        socket.on('solved2', function(totem_name){
            if(reqUrl.textContent==totem_name){
                btn.innerHTML = "Enviar Mensaje"
                alert("resuelto");
            }
        });
        socket.on('connected', function(){
            // console.log('recibe el totem ',reqUrl.textContent);
            socket.emit('totem:response',reqUrl.textContent)
             
        });

        socket.on('register_ok', function(){
            let regex = /(\d+)/g;

            datos = {
                id:reqUrl.textContent.match(regex),
                name:reqUrl.textContent,//pasar un alias
                message:'Se conecto al servidor'
            }
            console.log(datos)
            //cuando se conecta un totem -> emite a view/server.ejs
            // socket.emit('sos:server',datos)
            // messageText.focus()
        });

        btn.addEventListener('click', ()=>{
            
            payload = {
                name:reqUrl.textContent,
                message:'iniciamos video'
            }

            
            socket.emit('sos:server',payload)
            btn.innerHTML = "ESPERANDO ..."
        })
        
     

        
    </script>
</body>

</html>